fiss
data/processed
data/raw
/data/__pycache__/*.pyc
/__pycache__
/GraphModel/__pycache__
checkpoint
/confusionPkl/*.pkl
/checkpoint/*.pt
/.vscode/*.json
/*.pt
/data/*.tar
/dataOld/processed/*.pt
/signal/*.h5
/*.pkl
/wandb/run-20240603_170120-5ywruz6v/logs/*.log
/wandb
/*.json
/dataOld/raw/signal
/dataOld/raw/singletop
/dataOld/raw/ttbar
/dataOld/raw
/dataOld/__pycache__
